# Copy this file to .env (or export env vars) before running.
ANTHROPIC_API_KEY=REPLACE_ME
AZURE_API_KEY=REPLACE_ME
AZURE_OPENAI_API_HOST=REPLACE_ME
AZURE_OPENAI_API_KEY=REPLACE_ME
BUILD_FORMAT=REPLACE_ME
CDP_DOMAIN=REPLACE_ME
CODEX_HOME=REPLACE_ME
CURRENT_NODE_VERSION=REPLACE_ME
CUSTOM_BOOL_VAR=REPLACE_ME
CUSTOM_ENV_VAR=REPLACE_ME
CUSTOM_FLOAT_VAR=REPLACE_ME
CUSTOM_INT_VAR=REPLACE_ME
GITHUB_ACTIONS=REPLACE_ME
HF_API_TOKEN=REPLACE_ME
HTTPS_PROXY=REPLACE_ME
HTTP_PROXY=REPLACE_ME
IS_TESTING=REPLACE_ME
NODE_ENV=REPLACE_ME
OPENAI_API_KEY=REPLACE_ME
OPENAI_TEMPERATURE=REPLACE_ME
PORTKEY_API_BASE_URL=REPLACE_ME
PROMPTFOO_AUTHOR=REPLACE_ME
PROMPTFOO_CACHE_ENABLED=REPLACE_ME
PROMPTFOO_CACHE_MAX_FILE_COUNT=REPLACE_ME
PROMPTFOO_CACHE_TYPE=REPLACE_ME
